<div class="row" style="padding-top:10px">
  <div class="col-sm-6 col-md-9">
    <div class="panel panel-white" style="min-height:330px;">
      <div class="panel-heading">
        <h6 class="panel-title">
          TECH STACK <b>(ASP.NET WEP API AND ANGULAR)</b>
        </h6>
      </div>
      <div class="panel-body" style="font-size:larger">
        <p>
          <b>Consume Media Radar API:</b>
          I decided to build an SDK for MediaRadar Publications Ads Web services.
          The SDK was designed to be flexible  to allow developers to add more <code> Request</code> types.
          Each request should have domain objects within the <i>Models</i> folder and an instance of the Request in the <code>PublicationAdsAPI</code> facade class.
        </p>

        <p>
          <b>The Application Backend:</b>
          The web application is built on top of .NET Core 2.2 MVC utilizing dependency injections of the MediaRadar API SDK <code>PublicationAdsAPI</code>.
          <br />
          Thank you for giving me the opportunity to take the exercise a shot.
        </p>

        <p>
          <b>Front End:</b>
          I created ASP.NET MVVC Core 2.2 and Angular6 apps which consume the same endpoint.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="thumb thumb-rounded thumb-slide">
        <img src="https://bit.ly/2Xnq4bb" alt="">
      </div>

      <div class="caption text-center">
        <h6 class="text-bold no-margin">
          Michael Hanna
          <small class="display-block">Senior Software Engineer</small>
          <small class="display-block">(920)-474-6777</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="mailto:michaelmedo@hotmail.com" data-popup="tooltip" title="" data-original-title="Email"><i class="icon-mail5"></i></a></li>
          <li><a href="tell:920-4746777" data-popup="tooltip" title="" data-original-title="Phone"><i class="icon-phone"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mhannanyc/" target="_blank" data-popup="tooltip" title="" data-original-title="Linkedin"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row well">
  <div class="col-lg-12">
    <h5 class="text-bold">
      Thanks for giving me this opportunity, looking forward to walking you thru' the implementation.
    </h5>
  </div>
</div>
